<div class="add-container">
  <button *ngIf="!getShow()" class="px-5 py-1 font-bold bg-amber-400 flex items-center rounded-md" (click)="setShow(true)">
    <div>
      Ajouter
    </div>
    <mat-icon>add</mat-icon>
  </button>
  <button *ngIf="getShow()" class="px-5 py-1 font-bold bg-red-600 text-white flex items-center rounded-md" (click)="setShow(false)">
    <div>
      Annuler
    </div>
    <mat-icon>cancel</mat-icon>
  </button>
  <form [formGroup]="todoForm" *ngIf="getShow()" (ngSubmit)="onSubmit()" class="bg-slate-300 rounded-sm add-form">
    <div>
      <label for="title">Titre :</label>
    </div>
    <div>
      <input type="text" name="title" id="title" formControlName="title">
    </div>
    <div>
      <label for="content">Note :</label>
    </div>
    <div>
      <textarea id="content" name="content" formControlName="content" maxlength="255" ></textarea>
    </div>
    <button type="submit" class="px-5 py-1 font-bold bg-green-500 text-white flex items-center rounded-md">
      <div>
        Enregistrer
      </div>
      <mat-icon>save</mat-icon>
    </button>
  </form>
</div>
